.auth {
    width: 460px;
    padding: 32px;

    h2 {
        padding-left: 8px;
    }

    .unauthorize {
        margin-top: 24px;
        padding-left: 8px;

        button {
            margin-top: 12px;
        }
    }
}