on:
  push:
    branches: [ main ]
    tags: [ 'v[0-9]+.[0-9]+.[0-9]+' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Install Node.js
      uses: actions/setup-node@v5
      with:
        node-version: 20
    - run: npm install
    - run: cd ./webpanel && npm install
    - run: npm run package
    - name: Publish
      if: startsWith(github.ref, 'refs/tags')
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
